<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

<header>
<h1><%= title %></h1>
<nav>
<span><a title="主页" href="/">主页</a></span>
<% if(locals.islogin){%>
<span><a title="post" href="/post">发表</a></span>
<span><a title="登录" href="/logout">登出</a></span>
<% }else{ %>
<span><a title="登录" href="/login">登陆</a></span>
<span><a title="注册" href="/reg">注册</a></span>
<% } %>
</nav>
</header>



