<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- 页面循环输出 -->
    <ul>
    <% items.forEach(function(i){ %>
        <li><%= i %></li>
        <% }) %>
    </ul>

  </body>
</html>


