<% include header.html %>

<form method="post">
  用户名：  <input type="text" name="username"/><br />
  密码：    <input type="password" name="password"/><br />
 <!--  确认密码：<input type="password" name="password-repeat"/><br /> -->
  邮箱：    <input type="email" name="email"/><br />
           <input type="submit" value="注册"/>
</form>
<% include footer.html %>